*{
    padding: 0px;
    margin: 0px;
}

.app{
    margin: 0px auto;
}


/* class for div contanier */
.emptyZone{
    height: 50px;
    width: 120px;
    border: 2px solid black;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
    cursor: pointer;
}

/* class for drag element (Image) */
.dragElement{
    position: relative;
    width: 120px;
    height: 50px;
}

/* class incase dragged element hovered div contanier */
.hoverdContainer{
    border: 2px dashed gray;
    height: 51px;
    width: 125px;
    text-align: center;
}



